@model heladeria.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="container mt-5">
    <h1 class="text-center text-brown">Detalles del Producto</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-8">
            
            <dl class="row">
                
                <dt class="col-sm-3 font-weight-bold">ID del Producto:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdHelado)</dd>

              
                <dt class="col-sm-3 font-weight-bold">Descripción:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

               
                <dt class="col-sm-3 font-weight-bold">Cantidad (Kilos):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Kilos)</dd>

                
                <dt class="col-sm-3 font-weight-bold">Usuario Alta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdUsuarioAlta)</dd>

            
                <dt class="col-sm-3 font-weight-bold">Fecha Alta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaAlta)</dd>

              
                <dt class="col-sm-3 font-weight-bold">Usuario Modificación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdUsuarioModificacion)</dd>

               
                <dt class="col-sm-3 font-weight-bold">Fecha Modificación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaModificacion)</dd>

              
                <dt class="col-sm-3 font-weight-bold">Usuario Baja:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdUsuarioBaja)</dd>

                <dt class="col-sm-3 font-weight-bold">Fecha Baja:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaBaja)</dd>
            </dl>

           
            <div class="text-center mt-4">
                <a class="btn btn-outline-warning btn-lg" asp-action="Edit" asp-route-id="@Model.IdHelado">Editar Producto</a> |
                <a class="btn btn-outline-primary btn-lg" asp-action="Index">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>

