@model IEnumerable<heladeria.Models.PedidoCompleto>

@{
    ViewData["Title"] = "Pedidos";
}




<div class="container">
    <h1>Lista de Pedidos</h1>

    
    <p class="text-center">
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo Pedido</a>
    </p>

    
    <table class="table table-striped" id="tablaDatos">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IdPedido)</th>
                <th>@Html.DisplayNameFor(model => model.Kilos)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.IdUsuarioAlta)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdPedido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Kilos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioAlta)</td>
                    <td>


                        <a asp-action="Edit" asp-route-id="@item.IdPedido" class="btn btn-outline-brown btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdPedido" class="btn btn-outline-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
